/*
#08D9D6 Light blue
#252A34  DArk
#FF2E63 Pink
#EAEAEA Light
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
nav {
  background-color: #252a34;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nsection {
  float: left;
}

.nsection a {
  display: block;
  color: #eaeaea;
  text-align: center;
  padding: 6px 14px;
  text-decoration: none;
}
.nsection a:hover {
  color: #ff2e63;
  font-weight: 600;
}

#about {
  background-color: #ff2e63;
}

.about-info {
  font-weight: 500;
  color: #eaeaea;
}

#work {
  border: 3px solid #fff;
  background-color: #eaeaea;
  padding: 20px;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
}

.work-info {
  display: block;
  text-align: center;
  font-weight: 500;
  width: 70%;
  margin: auto;
  padding: 20px;
  margin: 10px 20px;
  background-color: #08d9d6;
  color: #eaeaea;
}

.work-info h2 {
  color: #252a34;
}
#work h1 {
  text-align: center;
  margin: 30px;
}
